main.page
		._container
			section.page__title.title
				h1.title__text.title__text_new Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
				ul.title__breadcrumbs
					li 
						a.title__breadcrumb(href="") Главная
					li
						a.title__breadcrumb(href="index.html") Новости
					li
						a.title__breadcrumb.title__breadcrumb_current(href="#") Медицина
			section.full-new
				.full-new__container
					.full-new__header
						ul.full-new__category 
							li Медицина
						span.full-new__date 29/01/2021
					.full-new__body
						h2.full-new__title Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят в профильный режим. Приказ Министерство здравоохранения Челябинской области выпустило 27 января.
						p.full-new__text Напомним, перепрофилировать родильный дом решили в связи с ежедневным большим приростом златоустовцев, заболевших ковид-19. За это время лечение на госпитальной базе прошли свыше 1000 пациентов.
						.full-new__content 
							img(src="img/news/02.jpg", alt="alt")
						.full-new__quote.quote
							.quote__author
								p Александр Дорофеев
								span главный врач родильного дома г. Златоуста:
							blockquote.quote__body «На сегодняшний день в МПЦ находятся 46 больных. Большая часть из них будет переведена на базу квартала Медик и меньшая часть – на базу долечивания, в район метзавода. В воскресенье к нам приезжает дезостанция для обработки всех помещений. С 1 по 7 число проводится заключительная дезинфекция всего родильного дома. С 8 числа мы начинаем принимать беременных и рожениц нашего города и горнозаводской зоны».
						p.full-new__text Подготовка к возвращению профильной деятельности больниц проводится тщательным образом. Это полная дезинфекция помещений, забор ряда лабораторных анализов. И только после разрешения всех инстанций медицинское учреждение поступает к работе. Златоуст — не единственный город, где в связи со стабилизацией обстановки с коронавирусной инфекцией медицинские объекты возвращаются к плановому приёму пациентов. Решение по сокращению коечных мест для больных ковидом принимается оперативным штабом по борьбе с коронавирусной инфекцией при Правительстве Челябинской области. Оставшиеся ковид-базы перейдут в прежний режим работы при условии улучшения ситуации.
					.full-new__data.new-data
						.new-data__column
							span.new-data__block Автор материала
							p.new-data__author Иван Анатольев
						.new-data__column
							span.new-data__block Теги
							ul.new-data__tegs 
								li Роддом
								li Вакцинация
								li Коронавирус
						.new-data__column 
							span.new-data__block Поделиться
							ul.new-data__share-list
								li 
									a.new-data__share-link(href="#")
										img(src="img/icons/icons__youtube.svg", alt="YouTube")
								li 
									a.new-data__share-link(href="#")
										img(src="img/icons/icons__facebook.svg", alt="Facebook")
								li 
									a.new-data__share-link(href="#")
										img(src="img/icons/icons__vk.svg", alt="VK")
								li 
									a.new-data__share-link(href="#")
										img(src="img/icons/icons__classmates.svg", alt="Odnoklassniky")
								li 
									a.new-data__share-link(href="#")
										img(src="img/icons/icons__instagram.svg", alt="Instagram")
