section.page__news.news
	ul.news__list 
		li
			article.news__new.new
				a.new__img(href="#")
					img(src="img/news/01.jpg", alt="alt")
				.new__data
					ul.new__categories
						li.new__category Медицина
						li.new__category Общество
					span.new__date 02/02/2021
				h3.new__title Благодаря поддержке предпринимателей. Златоустовские поликлиники оснастили холодильными установками для хранения вакцины
				a.new__link(href="#")
					img(src="img/icons/icons__link.svg", alt="Читать далее")
		li
			article.news__new.new
				a.new__img(href="new.html")
					img(src="img/news/02.jpg", alt="alt")
				.new__data
					ul.new__categories
						li.new__category Медицина
					span.new__date 29/01/2021
				h3.new__title Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции. Роддом Златоуста вновь откроет свои двери 8 февраля
				a.new__link(href="new.html")
					img(src="img/icons/icons__link.svg", alt="Читать далее")
		li
			article.news__new.new
				a.new__img(href="#")
					img(src="img/news/03.jpg", alt="alt")
				.new__data
					ul.new__categories
						li.new__category Коммуналка
					span.new__date 29/01/2021
				h3.new__title Осторожно, сосульки! Оттепель на этой неделе привела к тому, что на крышах многих домов образовались опасные ледяные наросты
				a.new__link(href="#")
					img(src="img/icons/icons__link.svg", alt="Читать далее")
		li
			article.news__new.new
				a.new__img(href="#")
					img(src="img/news/04.jpg", alt="alt")
				.new__data
					ul.new__categories
						li.new__category Политика
					span.new__date 29/01/2021
				h3.new__title В четыре раза меньше вопросов, чем обычно. В Златоусте прошло первое в 2021-м году Собрание депутатов
				a.new__link(href="#")
					img(src="img/icons/icons__link.svg", alt="Читать далее")
		li
			article.news__new.new
				a.new__img(href="#")
					img(src="img/news/05.jpg", alt="alt")
				.new__data
					ul.new__categories
						li.new__category Коммуналка
					span.new__date 29/01/2021
				h3.new__title В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку
				a.new__link(href="#")
					img(src="img/icons/icons__link.svg", alt="Читать далее")
		li
			article.news__new.new
				a.new__img(href="#")
					img(src="img/news/06.jpg", alt="alt")
				.new__data
					ul.new__categories
						li.new__category Общество
					span.new__date 29/01/2021
				h3.new__title ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год
				a.new__link(href="#")
					img(src="img/icons/icons__link.svg", alt="Читать далее")
	.news__special
		article.news__adv.adv
				a.adv__img(href="new.html")
					img(src="img/news/02.jpg", alt="alt")
				.adv__body
					.adv__data
						ul.adv__categories
							li.adv__category Медицина
						span.adv__date 29/01/2021
					h3.adv__title Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции. Роддом Златоуста вновь откроет свои двери 8 февраля
					p.adv__description Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...
					a.adv__link(href="new.html")
						img(src="img/icons/icons__link.svg", alt="Читать далее")
	.news__pagination 
		.pagination 
			a.pagination__prev._disabled(href="#")
			ul.pagination__list 
				li.pagination__item.pagination__item_current
					a(href="#") 1
				li.pagination__item 
					a(href="#") 2
				li.pagination__item 
					a(href="#") 3
				li.pagination__item 
					a(href="#") 4
				li.pagination__item ...
				li.pagination__item 
					a(href="#") 123
			a.pagination__next(href="#")