footer.footer 
	._container 
		.footer__row
			.footer__follow.follow.follow_f
				span.follow__text_f Подписывайтесь на нас:
				ul.follow__list.follow__list_f
					li 
						a.follow__link(href="#")
							img(src="img/footer/footer-icons__youtube.svg", alt="YouTube")
					li 
						a.follow__link(href="#")
							img(src="img/footer/footer-icons__facebook.svg", alt="Facebook")
					li 
						a.follow__link(href="#")
							img(src="img/footer/footer-icons__vk.svg", alt="VK")
					li 
						a.follow__link(href="#")
							img(src="img/footer/footer-icons__classmates.svg", alt="Odnoklassniky")
					li 
						a.follow__link(href="#")
							img(src="img/footer/footer-icons__instagram.svg", alt="Instagram")
		span.footer__line
		.footer__row 
			p.footer__copyright © 2021 «Златоустовское телевидение»
				a.footer__politic(href="#") <br>Политика конфиденциальности
			.footer__logo 
				img(src="img/icons/icons__xpage-logo.svg", alt="Xpage")