header.header
	._container
		.header__body
			.header__row
				.header__column
					a.header__contacts(href="#") Предложить новость
					.icon-menu
						span 
						span 
						span 
				.header__column
					a.header__phone(href="tel:8 (3513) 65-17-11") 8 (3513) 65-17-11
					a.header__search(href="#")
						img(src="img/icons/icons__search.svg", alt="search news")
			.header__menu.menu
				nav.menu__body
					ul.menu__list
						li
							a.menu__link(href="index.html") Новости
						li
							a.menu__link(href="#") Телепроекты
						li
							a.menu__link(href="#") Реклама
						li
							a.menu__link.menu__link_select._select(href="#") Онлайн
								span 
								span
						li
							a.menu__link(href="#") Программа передач
						li
							a.menu__link.menu__link_select._select(href="#") Еще
								span 
								span
					.menu__follow.follow 
						span.follow__text Подписывайтесь на нас:
						ul.follow__list
							li 
								a.follow__link(href="#")
									img(src="img/icons/icons__youtube.svg", alt="YouTube")
							li 
								a.follow__link(href="#")
									img(src="img/icons/icons__facebook.svg", alt="Facebook")
							li 
								a.follow__link(href="#")
									img(src="img/icons/icons__vk.svg", alt="VK")
							li 
								a.follow__link(href="#")
									img(src="img/icons/icons__classmates.svg", alt="Odnoklassniky")
							li 
								a.follow__link(href="#")
									img(src="img/icons/icons__instagram.svg", alt="Instagram")