doctype html 
html(lang="ru")
	block head
		include head
			block title
				title Default Title
	body(class="wrapper")
		block header
			include header
		block content
		block footer
			include footer
		block scripts 
			include scripts